@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Saira Light'), local('Saira-Light'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNGMb4YScr0.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Saira Regular'), local('Saira-Regular'), url(https://fonts.gstatic.com/s/saira/v3/memwYa2wxmKQyNknTZY.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Saira Bold'), local('Saira-Bold'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNGcaIYScr0.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: black;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  line-height: 1.4;
}
body {
  font-size: 62.5%;
  font-family: 'Saira', sans-serif;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.872rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.328rem;
}
p {
  font-size: 1.3rem;
}
a {
  font-size: 1.3rem;
}
#viewport {
  margin: 0 auto;
  width: 100%;
  background-color: blanchedalmond;
}
main {
  margin-top: 4rem;
}
.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffd84e;
  height: 4rem;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Saira', sans-serif;
}
.left-nav a,
.right-nav a {
  padding: 0.5rem 1rem;
}
.right-nav a {
  background-color: #d2a506;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.35s;
}
.right-nav a:hover {
  background-color: #b99307;
}
.right-nav a:not(:first-child) {
  margin-left: 1rem;
}
.right-nav .fa-sign-in-alt,
.right-nav .fa-user-plus {
  color: #fff;
  font-size: 1.1rem;
  margin-right: 1rem;
}
footer {
  background-color: #ffd84e;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}
