@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Saira Light'), local('Saira-Light'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNGMb4YScr0.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Saira Regular'), local('Saira-Regular'), url(https://fonts.gstatic.com/s/saira/v3/memwYa2wxmKQyNknTZY.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Saira Bold'), local('Saira-Bold'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNGcaIYScr0.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: black;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  line-height: 1.4;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Saira', sans-serif;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.872rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.328rem;
}
p {
  font-size: 1.3rem;
}
a {
  font-size: 1.3rem;
}
#viewport {
  margin: 0 auto;
  width: 100%;
  background-color: blanchedalmond;
}
main {
  margin-top: 5.8rem;
}
.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffd84e;
  height: 5.8rem;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Saira', sans-serif;
  z-index: 50;
}
.left-nav a,
.right-nav a {
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
}
.right-nav a {
  background-color: #d2a506;
  border-radius: 4px;
  color: #fff;
  font-size: 1.7rem;
  transition: 0.35s;
  padding: 0.5rem 1.5rem;
}
.right-nav a:hover {
  background-color: #b99307;
}
.right-nav a:not(:first-child) {
  margin-left: 1rem;
}
.right-nav .fa-sign-in-alt,
.right-nav .fa-user-plus {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
}
footer {
  background-color: #ffd84e;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}
.aboutGeneral {
  width: 100%;
}
.aboutGeneral p {
  text-align: center;
}
.teamMembersContainer {
  margin: 0 auto;
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.teamMembersContainer div {
  height: 40.5rem;
  width: 30.5rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  justify-self: center;
}
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}
.flip-card div {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .teamLead {
  grid-area: teamLead;
  transform: rotateY(180deg);
}
.flip-card:hover .frontend1 {
  transform: rotateY(180deg);
}
.flip-card:hover .frontend2 {
  transform: rotateY(180deg);
}
.flip-card:hover .backend {
  transform: rotateY(180deg);
}
.flip-card:hover .landing {
  transform: rotateY(180deg);
}
.flip-card:hover .about {
  transform: rotateY(180deg);
}
.flip-card:hover .howto {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front img {
  height: inherit;
  width: inherit;
  border-radius: 1.5rem;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-back h3 {
  padding: 2rem 0 1rem 0;
}
.flip-card-back p {
  padding: 0 3rem;
}
@media only screen and (max-width: 1100px) {
  .teamMembersContainer {
    margin: 0 auto;
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  .teamMembersContainer div {
    height: 40.5rem;
    width: 30.5rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
  }
}
@media only screen and (max-width: 750px) {
  .teamMembersContainer {
    margin: 0 auto;
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1rem;
  }
  .teamMembersContainer div {
    height: 30.5rem;
    width: 25.5rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
  }
}
.width-100 {
  width: 100%;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
.border-bottom-grey {
  border-bottom: 1px solid lightgrey;
}
@media (max-width: 800px) {
  .welcome {
    display: none;
  }
}
.welcome-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 80%;
  margin: 0 5% 0 10%;
  margin-left: 10%;
  margin-bottom: 0px;
}
.steps {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: scroll;
  margin-top: 16px;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
@media (min-width: 1200px) {
  .steps {
    width: 100%;
  }
}
.steps .left-button,
.steps .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.steps .left-button:hover,
.steps .right-button:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}
.steps .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.steps .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.steps .step-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.steps .step-text h2 {
  margin-left: 0%;
  margin-top: 5%;
  border-width: 2.5px;
}
.steps .step-text h3 {
  margin-left: 0%;
  margin-top: 1%;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2.5px;
  border-color: brown;
}
.steps .step-text p {
  font-size: 22px;
  text-align: left;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 5% 0 10%;
  margin-left: 10%;
  border-style: solid;
  border-width: 2.5px;
  border-color: darkgreen;
}
@media (max-width: 1000px) {
  .steps .step-text p {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .steps .step-text p {
    font-size: 10px;
  }
}
.step {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow: scroll;
  margin-top: 16px;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
@media (min-width: 1200px) {
  .step {
    width: 100%;
  }
}
.step .left-button,
.step .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.step .left-button:hover,
.step .right-button:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}
.step .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.step .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.step .step-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.step .step-text h2 {
  margin-left: 0%;
  margin-top: 5%;
  border-width: 2.5px;
}
.step .step-text h3 {
  margin-left: 0%;
  margin-top: 1%;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2.5px;
  border-color: brown;
}
.step .step-text p {
  font-size: 22px;
  text-align: left;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 5% 0 10%;
  margin-left: 10%;
  border-style: solid;
  border-width: 0.25px;
  border-color: darkgreen;
}
@media (max-width: 1000px) {
  .step .step-text p {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .step .step-text p {
    font-size: 10px;
  }
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
  margin-left: 10px;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
@media (min-width: 1200px) {
  .carousel {
    width: 100%;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
body {
  text-align: center;
  color: #f3f3f3;
}
.cta {
  display: flex;
  margin-top: 72px;
  margin-left: 68px;
  justify-content: flex-end;
}
.cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 200px;
  height: 70px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
nav a {
  font-size: 16px;
}
.header a {
  font-size: 22px;
}
h2 {
  font-size: 32px;
}
