@tablet: (max-width: 800px);
@phone: (max-width: 500px);

.headings-shadow() {
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, .9);
}

.hero {
  width: 100%;
  background-color: red;
  padding: 2rem;
  min-height: 94vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .65), rgba(0, 0, 0, .2)), url('../images/main-img.jpg') fixed center;

  .headline {
    font-size: 10rem;
    font-weight: 300;
    padding-top: 18rem;
    margin: 0 auto;
    text-align: center;
    .headings-shadow();

    @media @tablet {
      font-size: 7rem;
      padding-top: 9rem;
    }

    @media @phone {
      font-size: 4.5rem;
    }
    
  }

  .subhead {
    font-size: 3.2rem;
    .headings-shadow();
    letter-spacing: .2rem;
    text-align: center;

    @media @tablet {
      font-size: 2.5rem;
    }

    @media @phone {
      font-size: 2rem;
    }
  }

  .main-button {
    margin: 0 auto;
    text-align: center;

    button {
      margin-top: 8rem;
      background-color: transparent;
      border: 2px solid @nav-button-bg;
      border-radius: 4px;
      padding: 1.3rem 3rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.9rem;
      letter-spacing: .4rem;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
      outline: none;
      transition: all .25s;

      @media @phone {
        font-size: 1.6rem;
        padding: 1rem 1.5rem;
      }

      &:hover {
        background-color: @nav-button-bg;
        cursor: pointer;
      }
    }
  }
}

.first-content {
  padding-top: 2rem;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 85%;
    margin: 4rem auto;

    @media @tablet {
      flex-direction: column;
    }
  }

  .content-box {
    width: 50%;
    padding: 1rem;
    border: 1px solid @nav-button-bg;
    text-align: left;
    margin-bottom: 2rem;
    border-radius: .4rem;
    border-top: .4rem solid @nav-button-bg;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .22);

    @media @tablet {
      width: 100%;
      margin-top: 1.5rem;
    }
    
    &:not(:last-child) {
      margin-right: 1rem;
    }

    h2 {
      margin-bottom: 1.8rem;
      text-align: center;
    }
    
    p {
      font-size: 1.7rem;
      padding: 2rem;
    }

    ul {
      padding: 0 2rem;
    }

    li {
      list-style-type: disc;
      list-style-position: inside;
      font-size: 1.7rem;
    }

  }
}