main {
  width: 100%;
  background-color: red;
  padding: 2rem;
  height: 94vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .65), rgba(0, 0, 0, .2)), url('../images/main-img.jpg') fixed center;

  .headline {
    font-size: 10rem;
    font-weight: 300;
    padding-top: 18rem;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, .9);
  }

  .main-button {
    margin: 0 auto;
    text-align: center;

    button {
      margin-top: 4rem;
      background-color: transparent;
      border: 2px solid @nav-button-bg;
      border-radius: 4px;
      padding: 1.3rem 3rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.9rem;
      letter-spacing: .4rem;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
      transition: all .25s;

      &:hover {
        background-color: @nav-button-bg;
        cursor: pointer;
      }

    }
  }
}