@lambda-times-color-primary: #333;
@lambda-times-color-white: #fff;
@lambda-times-color-black: #000;
@lambda-times-color-lightgrey: lightgrey;
@lambda-times-color-background: #f1f1f1;

@desktop: ~"(min-width: 1200px)";
@medium: ~"(max-width: 1000px)";
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 600px)";
@tiny: ~"(max-width: 320px)";

.steptexth3() {
  margin-left: 0%;
  margin-top: 1%;
  border-top-style:  solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2.5px;
  border-color: brown;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}

.steptexth2() {
  margin-left: 0%;
  margin-top: 5%;
  border-width: 2.5px;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}
.steptextp(@p: 22px) {
  font-size: @p;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 5% 0 10%;
  margin-left: 10%;
  border-style: solid;
  border-width: 2.5px;
  border-color: darkgreen;

  @media @medium{
      font-size: 12px;
    }
    @media @phone{
      font-size: 10px;
    }
  }

.steptext() {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  // margin: 0 20% 0 0;
}

.stepboth(@height, @hidden, @marginleft: 10px) {
  .width-100();
  .flex(center, center);
  height: @height;
  position: relative;
  overflow: @hidden;
  margin-top: 16px;
  margin-left: @marginleft;
  @media @desktop{
    width: 100%;
  }
  .left-button, .right-button {
      .flex(center);
      color: @lambda-times-color-white;
      background-color: @lambda-times-color-primary;
      font-size: 40px;
      border-radius: 50%;
      position: absolute;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    .left-button {
      top: 50%; 
      left: 25px;
      transform: translate(0, -50%);
    }
    .right-button {
      top: 50%; 
      right: 25px;
      transform: translate(0, -50%);
    }
    img {
      .width-100();
      display: none;
    }
    }

.width-100 {
    @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic,900');

    width: 100%;
  }
  
  .border-bottom-grey {
    border-bottom: 1px solid @lambda-times-color-lightgrey;
  }

  .flex(@jc: none, @ai: none, @dir: row) {
    display: flex;
    justify-content: @jc;
    align-items: @ai;
    flex-direction: @dir;
  }
  
.welcome {
    @media @tablet{
        display: none;
                  }
          }

          .welcome-text {
            // .flex(center, center);
              font-size: 72px;
              text-align: center;
              letter-spacing: 5px;
              display: block;
              justify-content: center;
              flex-flow: column;
              flex-wrap: wrap;
              align-items: center;
              margin: 0 10% 0 10%;
              margin-left: 40%;
              margin-bottom: 0px;
              // width: 200px;
              @media @medium{
                margin-left: 36%;
              }
              @media @tablet{
                margin-left: 30%;
              }
              @media @phone{
                margin-left: 26%;
              }
          }
          .welcome-the-text {
              font-size: 72px;
              text-align: center;
              letter-spacing: 5px;
              display: block;
              margin: 0 10% 0 10%;
              margin-left: 42%;
              margin-bottom: 0px;
              @media @medium{
                margin-left: 38%;
              }
              @media @tablet{
                margin-left: 30%;
              }
              @media @phone{
                margin-left: 26%;
              }
              @media @tiny{
                margin-left: 1%;
              }
            }

          .welcome-text h2 {
            font-size: 32px;
            font-family: 'Bangers', cursive;
            letter-spacing: 1px;
          @media @phone{
              font-size: 16px;
            }
          }

          .welcome-the-text h2 {
            font-size: 32px;
            font-family: 'Bangers', cursive;
            letter-spacing: 1px;
          @media @phone{
              font-size: 16px;
            }
          }
                    
.steps {.stepboth(200px, scroll, 0);}
.steps .step-text {.steptext();}
.steps .step-text h2 {.steptexth2();}
.steps .step-text h3 {.steptexth3();}
.steps .step-text p {.steptextp();}

.step {.stepboth(500px, scroll, 0);}
.step .step-text {.steptext();}
.step .step-text h2 {.steptexth2();}
.step .step-text h3 {.steptexth3();
  @media @phone{
     font-size: 16px;
   }
   @media @tiny{
    display: none;}
 }
.step .step-text p {.steptextp(16px);
  @media @phone{
font-size: 8px;}
}

.carousel {.stepboth(500px, hidden, 0);}

  .cta {
    display: flex;
    margin-top: 72px;
    margin-left: 68px;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 72px;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 82px 0 0;
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 16px;
    background: white;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

.cta-text {
    font-size: 72px;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 12px 0 0;
    height: 50px;
}

.cta-text button {
    border: 1px double black;
    font-size: 16px;
    background: white;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    cursor: pointer;
}

.cta-text button:hover {
    background: black;
    color: white;
}
.header a {
  font-size: 22px;
}
.headerall a {
  font-size: 16px;
}
.none {
  display: none;
}
.centered{
  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
}
.centered h1{
  font-family: 'Ariel', cursive;
  font-size: 72px;
  @media @tablet{
    font-size: 48px;
    
  @media @phone{
    font-size: 26px;
    @media @tiny{
      font-size: 16px;
      }
    
  }
  }
  }
.ws{
  height: 140px;
}

.xbtn, .sbtn, button {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: gray;
  }
  100% {
    background-color: white;
  }
}