body {
    font-size: 62.5%;
}

.welcome {
    display: flex;
    // margin-top: 7.2rem;
    justify-content: flex-end;
}

.welcome .welcome-text {
    font-size: 7.2rem;
    text-align: center;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 40% 0 0;
}
.step {
    display: flex;
    // margin-top: 7.2rem;
    //  width: 80%;
    // justify-content: flex-end;
}

.step .step-text {
    font-size: 7.2rem;
    text-align: center;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 80% 0 0;
}

.step .step-text h3 {
    border: 1rem;
    border-color: black;
}
.step .step-text p {
    font-size: 1rem;
    text-align: left;
    letter-spacing: 0.5rem;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    // align-items: center;
    width: 80rem;
    margin: 0 10rem 0 10rem;
}
