@defaultColor: black;
@nav-bg: #ffd84e;
@nav-button-bg: #d2a506;
@nav-button-hover: #b99307;

.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.0rem;
  background-color: @nav-bg;
  height: 5.8rem;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, .2);
  font-family: 'Saira', sans-serif;
  z-index: 50;

  @media @tablet {
    padding: 0 2rem;
  }
}

.left-nav a, .right-nav a {
  padding: 0;
  font-size: 1.7rem;
}

.left-nav .nav-links {
  border-bottom: 2px solid transparent; 
  transition: .23s;

  &:not(:last-child) {
    margin-right: 2.5rem;
  }

  &:hover {
    border-bottom: 2px solid black;
  }
  @media @tablet {
    display: none;
  }
}

.left-nav {
  position: relative;

  .mobile-nav-menu {
    position: absolute;
    width: 16rem;
    background-color: @nav-bg;
    top: 5.6rem;
    left: -2rem;
    font-size: 2rem;
    z-index: -5;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
    text-align: center;
    transform: translateX(-15rem);

    a, a:active, a:visited {
      font-size: 2rem;
      color: black;
      display: block;
      padding: 2rem 1rem;
    }

    // &.close {
    //   visibility: hidden;
    //   opacity: none;
    //   transition: .4s ease-out;
    // }
  }

  ul {

    li {
      border-bottom: 1px solid black;

      &:first-child {
        border-top: 1px solid black;
    }
  }
}

  // class for mobile menu opening
  .open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  .nav-mobile-btn {
    display: none;
  
    @media @tablet {
      font-size: 3.5rem;
      display: block;
      cursor: pointer;
    }
  }

}

.on-home {
  display: none;
}



.site-name a, .site-name a:active, .site-name a:visited {
  font-size: 3.2rem;

  @media (max-width: 900px) {
    font-size: 2.7rem;
  }

  @media (max-width: 650px) {
    font-size: 2.3rem;
  }

  @media (max-width: 625px) {
    display: none;
  }
}

.right-nav {

  a {
  background-color: @nav-button-bg;
  border-radius: 4px;
  color: #fff;
  font-size: 1.7rem;
  transition: .35s;
  padding: .5rem 1.5rem;
  
    &:hover {
      background-color: @nav-button-hover;
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  .fa-sign-in-alt, .fa-user-plus {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

footer {
  background-color: @nav-bg;
  border-top: 1px solid black;
  text-align: center;
  padding: 1.5rem;

  p {
    font-size: 1.9rem;
  }
}
