@defaultColor: black;

.top-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.0rem;
  background-color: lightblue; 
}

.left-nav a, .right-nav a {
  padding: 2.0rem;
}

.left-nav a:hover, .right-nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: lightblue;
  text-align: center;
}
